:root {
  --bg: #f6f8ff;
  --bg-wite: #fff;
  --bg-content: #fefefe;
  --text: #4b6a9b;
  --text-light: #697c9a;
  --text-alt: #2b3442;
  --text-dark: #222731;
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --icon-bg: brightness(100%);
  /* Btn */
  --btn: #0079ff;
  --btn-hover: #60abff;
  font-size: 62.5%;
}

.darkmode {
  --bg: #222731;
  --bg-wite: #fff;
  --bg-content: #2b3442;
  --text: #a8b2d1;
  --text-light: #697c9a;
  --text-alt: #f6f8ff;
  --text-dark: #f6f8ff;
  --shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --icon-bg: brightness(0%);
  /* Btn */
  --btn: #0079ff;
  --btn-hover: #60abff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: var(--bg);
  font-size: 15px;
  line-height: 26px;
  color: var(--text);
  width: 100%;
  position: relative;
  height: 100vh;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 730px;
  min-width: 327px;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#logo {
  font-size: 2.6rem;
  color: var(--text-dark);
}

#btn-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
}

#btn-mode p {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2.5px;
}

/* Search  */
.search-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-content);
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-left: 2.2rem;
}

#input-search {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  line-height: 1.6rem;
  color: var(--text);
  background-color: inherit;
}

#btn-search {
  border: none;
  outline: none;
  background-color: var(--btn);
  color: var(--bg-wite);
  font-size: 1.6rem;
  line-height: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
  border-radius: 1rem;
  cursor: pointer;
  padding: 18px 24px;
}

#btn-search:hover {
  background-color: var(--btn-hover);
}

.profile-container {
  background-color: var(--bg-content);
  width: 100%;
  margin-top: 24px;
  padding: 4.4rem 4.4rem;
  border-radius: 15px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-img {
  width: 100%;
  max-width: 117px;
  height: auto;
  max-height: 117px;
  border-radius: 50%;
  overflow: hidden;
}

#user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#user-name {
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: var(--text-alt);
}

#login {
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-decoration: none;
}

#login {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--btn);
}

.main-content {
  margin-inline-start: 25%;
}

.user-bio {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--text);
  margin-top: 2rem;
  opacity: 0.75;
  word-break: break-word;
  overflow: hidden;
}

.profile-stats-wrapper {
  width: 100%;
  background-color: var(--bg);
  margin-top: 3.2rem;
  border-radius: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
}

.profile-stats p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--text);
}

.profile-stats h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: var(--text-alt);
}

.profile-footer-wrapper {
  margin-top: 3.7rem;
  display: flex;
  flex-wrap: wrap;
}

.profile-footer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.profile-footer-content {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.profile-footer-content:nth-child(1) {
  margin-bottom: 2rem;
}

.error {
  position: absolute;
  font-weight: 700;
  line-height: 2.2rem;
  color: #f74646;
  transform: translateX(500%);
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 573px;
  }
  .error {
    transform: translateX(350%);
  }
  .header {
    padding: 0;
  }
  .search-container {
    padding: 1rem;
  }
  .search-bar {
    margin-left: 0;
  }
  .profile-container {
    padding: 4rem;
  }
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
    margin-inline-start: 10%;
  }

  .main-content {
    margin-inline-start: 0;
  }

  .profile-stats-wrapper {
    margin-top: 2.4rem;
  }
  .profile-footer-wrapper {
    margin-top: 2.4rem;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .container {
    width: 100%;
    max-width: 327px;
    font-size: 1.3rem;
  }
  .error {
    transform: translateX(160%);
  }
  .header {
    padding: 0;
  }
  .search-container {
    padding: 1rem;
  }
  .search-bar {
    margin-left: 0;
    gap: 0.5rem;
  }

  .search-bar img {
    width: 20px;
    height: 20px;
  }

  #input-search {
    font-size: 1.3rem;
  }
  #btn-search {
    font-size: 1.4rem;
    padding: 12.5px 18px;
  }

  .user-img {
    max-width: 70px;
    max-height: 70px;
  }
  #user-name {
    font-size: 1.6rem;
  }
  #user-bio {
    font-size: 1.3rem;
  }

  .profile-container {
    padding: 4rem;
  }
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
    margin-inline-start: 10%;
  }

  .main-content {
    margin-inline-start: 0;
  }

  .profile-stats-wrapper {
    margin-top: 2.4rem;
  }

  .profile-stats p {
    font-size: 1.1rem;
  }
  .profile-stats h2 {
    font-size: 1.6rem;
  }

  .profile-footer-wrapper {
    margin-top: 2.4rem;
  }
  .profile-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-footer-content {
    margin-bottom: 1.6rem;
  }
}
