:root {
  --lm-bg: #f6f8ff;
  --lm-bg-wite: #fff;
  --lm-bg-content: #fefefe;
  --lm-text: #4b6a9b;
  --lm-text-light: #697c9a;
  --lm-text-alt: #2b3442;
  --lm-text-dark: #222731;
  --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --lm-icon-bg: brightness(100%);
  /* Btn */
  --btn: #0079ff;
  --btn-hover: #60abff;
  font-size: 62.5%;
}

.darkmode {
  --lm-bg: #222731;
  --lm-bg-wite: #fff;
  --lm-bg-content: #2b3442;
  --lm-text: #a8b2d1;
  --lm-text-light: #697c9a;
  --lm-text-alt: #f6f8ff;
  --lm-text-dark: #f6f8ff;
  --lm-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --lm-icon-bg: brightness(0%);
  /* Btn */
  --btn: #0079ff;
  --btn-hover: #60abff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: var(--lm-bg);
  font-size: 15px;
  line-height: 26px;
  color: var(--lm-text);
  width: 100%;
  position: relative;
  height: 100vh;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 400;
}

.container {
  width: 730px;
  min-width: 327px;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#logo {
  font-size: 2.6rem;
  color: var(--lm-text-dark);
}

#btn-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
}

#btn-mode p {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2.5px;
}

/* Search  */
.search-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--lm-bg-content);
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--lm-shadow);
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

#input-search {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: var(--lm-text);
}

#input-search::placeholder {
  color: var(--lm-text-dark);
}

#btn-search {
  border: none;
  outline: none;
  background-color: var(--btn);
  color: var(--lm-bg-wite);
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 14px 24px;
}

#btn-search:hover {
  background-color: var(--btn-hover);
}

.profile-container {
  background-color: var(--lm-bg-content);
  width: 100%;
  margin-top: 24px;
  padding: 4.4rem 4.4rem;
  border-radius: 15px;
  box-shadow: var(--lm-shadow);
  display: flex;
  gap: 3.7rem;
}

.profile-img {
  width: 100%;
  max-width: 117px;
  height: auto;
  max-height: 117px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-header h2 {
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: var(--lm-text-2b3442);
}

.profile-header p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: var(--lm-text-light);
}

#username {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--btn);
}

.user-bio {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--lm-text);
  margin-top: 2rem;
  opacity: 0.75;
  word-break: break-word;
  overflow: hidden;
}
